.pageContainer {
    display: flex;
    flex-direction: row; 
}
.orgUnitTreeCard {
    height: 100% !important;
    width: auto !important;
    padding: 1%;     
}
.whoNetController {
    height: 50vh !important; 
    padding: 1%;         
    float: right;  
}
.fileUploadCard {
    width: 100% !important;
    height: 50% !important; 
}
.settingsSplitButton {
    display: block;
}
